@model IEnumerable<sklad.Models.Address>

@{
    ViewData["Title"] = "SelectAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SelectAddress</h1>

<p>
    <a asp-action="Create" asp-controller="Addresses" asp-route-Cart="true">Dodaj nowy</a>
</p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                </td>
                <td>
                    @Html.ActionLink("Wybierz", "MakeOrder", "Orders", new { AddressId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
