@model IEnumerable<sklad.Models.Address>

@{
    ViewData["Title"] = "Adresy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wszystkie adresy</h1>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
