@model IEnumerable<sklad.Models.Item>

@{
    ViewData["Title"] = "BrowseItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-group" id="categories">
    <a asp-action="BrowseItems" asp-route-id="" class="list-group-item list-group-item-action" data-id="0">Wszystkie</a>
    @foreach (var c in ViewBag.categories)
    {
        <a asp-action="BrowseItems" asp-route-id="@c.Id" class="list-group-item list-group-item-action" data-id="@c.Id">@c.Name</a>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceFor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </td>
                <td>
                    @using (Html.BeginForm("Add", "Cart"))
                    {
                    <input type="hidden" name="id" value="@item.Id"/>
                    <input type="number" name="amount" />
                    <input type="submit" value="Dodaj do koszyka" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var active = @(ViewBag.active ?? 0);
    $(document).ready(function () {
        $("#categories a[data-id=" + active + "]").addClass('active');
    })
</script>



