@model sklad.Models.Item

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceFor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceFor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class="col-sm-10">
            @if (ViewBag.order)
            { 
                @using (Html.BeginForm("Add", "Cart", FormMethod.Get))
                {
                    <input type="hidden" name="id" value="@Model.Id" />
                    <input class="form-control" min="1" type="number" value="1" name="amount" data-val="true" data-val-required="Podaj ilość" data-val-range="Ilość powinna być większa od 0 i mniejsza od ilości towaru w magazynie" data-val-range-min="1" data-val-range-max="@Model.Quantity" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="amount" data-valmsg-replace="true"></span>
                    <input type="submit" value="Dodaj do koszyka" />
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    @if (ViewBag.order)
    {
        <a asp-action="BrowseItems" asp-route-id="@ViewBag.category">Back to List</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }

</div>
